Source: ros-melodic-robotnik-sensors
Section: misc
Priority: optional
Maintainer: Angel Soriano <asoriano@robotnik.es>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-urdf, ros-melodic-xacro
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-robotnik-sensors
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-gazebo-plugins, ros-melodic-hector-gazebo-plugins, ros-melodic-urdf, ros-melodic-xacro
Description: Robotnik standard sensors description.
 URDF and meshses.
